body{
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	font-family: 'Do Hyeon', sans-serif;
	cursor: default;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button{
	color: #eee;
	cursor: pointer;
	border:transparent;
	background-color: #123;
	font-weight: bold;
	margin: 3px;
	min-width: 40px;
	padding: 5px;
	outline: none;

	border-radius: 5px;
}
button:hover{
	background-color: #234;
}
button:active{
	background-color: #345;
}

button:disabled{
	background-color: #999;
}



button.red{
	background-color: #411;
	border: solid 1px #fff;
}
button.red:hover{
	background-color: #522;
}
button.red:active{
	background-color: #633;
}
button.red:disabled{
	background-color: #999;
}

button.green{
	background-color: #152;
	border: solid 1px #fff;
}
button.green:hover{
	background-color: #263;
}
button.green:active{
	background-color: #374;
}

button.green:disabled{
	background-color: #999;
}

.title1{
	font-size: 120%;
	text-align: center;
}
/*************************** ICON RELATED ***************************/
.icon{
	position: relative;
	height: 20px;
	width: auto;
	margin-right: 5px;
	margin-bottom: -6px;
}
.iconBig{
	position: relative;
	height: 60px;
	width: auto;
	margin-right: 5px;
	margin-bottom: -6px;
}

.coinB{
	
	background-color: #3986c8;
	border-radius: 50%;
}

.coinR{
	
	background-color: #ba3a4e;
	border-radius: 50%;
}

.coinY{
	
	background-color: #e3951d;
	border-radius: 50%;
}
/*******************************************************************/
.ikan{
	position: absolute;
	top:  0px;
	left: 0px;
	width: 160px;
	height: 100px;
	overflow: visible;
	margin: 0px;
	padding: 0px;
	cursor: pointer;

	transition-duration: 1s;
	transition-timing-function: cubic-bezier(.55,.07,.5,.98);
	transform-origin: 50% 50%;
	/*animation: birthIkan .5s;*/

}
@keyframes birthIkan{
	from{
		transform: scale(0);
	}
}
.death{
	filter: grayscale() blur(10px);
	opacity: 0;
}
.ikan .ruas{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 33px;
	height: 100px;
	background: transparent;
	/*background-image: url(img/f1.svg);*/
	/*background-image: url(img/dumy1.png);*/
	background-repeat: no-repeat;
	background-size: 490%;
	background-position: 0 0;
	overflow: visible;
	margin: 0px;
	padding: 0px;

	animation: kepala 3s infinite cubic-bezier(.34,.01,.77,1.01);
	transition-duration: 3s;
	transform-origin: 0% 90%;

	/*border: solid 2px green;*/
}
.ikan .ruas .ruas{
	left: 32px;
	top: 0;
	animation: ekor 3s infinite cubic-bezier(.34,.01,.77,1.01);
}
.ikan .ruas .ruas{
	background-position: -32px 0;
	animation-delay: -1.6s;
}
.ikan .ruas .ruas .ruas{
	background-position: -64px 0;
	animation-delay: -1.2s;
}
.ikan .ruas .ruas .ruas .ruas{
	background-position: -96px 0;
	animation-delay: -.8s;
}
.ikan .ruas .ruas .ruas .ruas .ruas{
	background-position: -128px 0;
	animation-delay: -.4s;
}

.ruas .shadow{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: transparent;
	/*background-image: url(img/f1.svg);*/
	/*background-image: url(img/dumy1.png);*/
	background-repeat: no-repeat;
	/*background-position: inherit;*/
	background-size: 490%;
	background-position: 0 0;
	overflow: visible;
	margin: 0px;
	padding: 0px;
	opacity: .5;

}


@keyframes ekor{
	from{
		transform: perspective(300px) rotateY(20deg);
	}
	50%{
		transform: perspective(300px) rotateY(-20deg);
	}
	to{
		transform: perspective(300px) rotateY(20deg);
	}
}

@keyframes kepala{
	from{
		transform: perspective(100px) rotateY(-5deg);
	}
	50%{
		transform: perspective(100px) rotateY(0deg);
	}
	to{
		transform: perspective(100px) rotateY(-5deg);
	}
}



@keyframes ekorEll{
	from{
		transform-origin: 0% 50%;
		transform: skewY(20deg);
	}
	50%{
		transform-origin: 0% 50%;
		transform: skewY(-20deg);
	}
	to{
		transform-origin: 0% 50%;
		transform: skewY(20deg);
	}
}

@keyframes shine{
	from{
		border-radius: 50%;
	}
	50%{
		background: #fcf75e;
		box-shadow: 0 0 10px 2px #fcf75e;
	}
	to{
		border-radius: 50%;
	}
}

/**********************************************/
#wadah{
	position: absolute;
	margin: 0;
	width: 800px;
	height: 480px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border: solid 1px;
	background: #eff3f8;
	overflow: hidden;
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2275.109mm%22%20height%3D%2245.065mm%22%20version%3D%221.1%22%20viewBox%3D%220%200%20266.13%20159.68%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3CradialGradient%20id%3D%22c%22%20cx%3D%22450.11%22%20cy%3D%22460.69%22%20r%3D%225.123%22%20gradientTransform%3D%22matrix(1.7809%20-.0072101%20.0050363%201.244%20-353.72%20-110.53)%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%23a8996c%22%20offset%3D%220%22%2F%3E%3Cstop%20stop-color%3D%22%23a8996c%22%20stop-opacity%3D%220%22%20offset%3D%221%22%2F%3E%3C%2FradialGradient%3E%3ClinearGradient%20id%3D%22e%22%20x1%3D%22126.84%22%20x2%3D%2259.215%22%20y1%3D%2293.171%22%20y2%3D%2292.568%22%20gradientTransform%3D%22translate(-25.412%20314.52)%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-opacity%3D%22.39766%22%20offset%3D%220%22%2F%3E%3Cstop%20stop-opacity%3D%220%22%20offset%3D%221%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient%20id%3D%22d%22%20x1%3D%22128.93%22%20x2%3D%22114.64%22%20y1%3D%2228.431%22%20y2%3D%2229.503%22%20gradientTransform%3D%22translate(-25.412%20314.52)%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%23843704%22%20stop-opacity%3D%22.83041%22%20offset%3D%220%22%2F%3E%3Cstop%20stop-color%3D%22%23a40%22%20stop-opacity%3D%220%22%20offset%3D%221%22%2F%3E%3C%2FlinearGradient%3E%3CradialGradient%20id%3D%22b%22%20cx%3D%22225.31%22%20cy%3D%22143.13%22%20r%3D%223.1338%22%20gradientTransform%3D%22matrix(1.8144%20.1691%20-.88317%209.4762%20-54.898%20-1249.7)%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%234d4d4d%22%20stop-opacity%3D%220%22%20offset%3D%220%22%2F%3E%3Cstop%20stop-color%3D%22%234d4d4d%22%20stop-opacity%3D%22.4386%22%20offset%3D%221%22%2F%3E%3C%2FradialGradient%3E%3CradialGradient%20id%3D%22a%22%20cx%3D%22176.38%22%20cy%3D%22390.67%22%20r%3D%22136.03%22%20gradientTransform%3D%22matrix(1.6247%20-.0095153%20.0066002%201.127%20-112.76%20-47.928)%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%23222%22%20stop-opacity%3D%220%22%20offset%3D%220%22%2F%3E%3Cstop%20stop-color%3D%22%238a772e%22%20stop-opacity%3D%22.32164%22%20offset%3D%221%22%2F%3E%3C%2FradialGradient%3E%3ClinearGradient%20id%3D%22f%22%20x1%3D%2222.802%22%20x2%3D%2221.016%22%20y1%3D%22279.37%22%20y2%3D%22405.8%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20stop-color%3D%22%23a2fcfc%22%20offset%3D%220%22%2F%3E%3Cstop%20stop-color%3D%22%23daf4f4%22%20offset%3D%221%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cmetadata%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%2F%3E%3Cdc%3Atitle%2F%3E%3C%2Fcc%3AWork%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cg%20transform%3D%22translate(-42.588%20-314.52)%22%3E%3Cimage%20x%3D%2242.051%22%20y%3D%22315.39%22%20width%3D%22266.96%22%20height%3D%22159.11%22%20preserveAspectRatio%3D%22none%22%20xlink%3Ahref%3D%22ss.png%22%2F%3E%3Crect%20x%3D%2240.348%22%20y%3D%22310.95%22%20width%3D%22272.06%22%20height%3D%22159.43%22%20fill%3D%22%23dab694%22%2F%3E%3Crect%20x%3D%2240.348%22%20y%3D%22310.95%22%20width%3D%22272.06%22%20height%3D%22159.43%22%20fill%3D%22url(%23a)%22%2F%3E%3Cg%20fill%3D%22%23fff9b0%22%20fill-opacity%3D%22.17544%22%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22252.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22272.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22292.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22312.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22332.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22352.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22372.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22392.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22412.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22432.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22452.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22472.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22492.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22512.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3Crect%20transform%3D%22matrix(1%200%20-.41426%20.91016%200%200)%22%20x%3D%22232.19%22%20y%3D%22330.92%22%20width%3D%229.4198%22%20height%3D%22196.63%22%2F%3E%3C%2Fg%3E%3Crect%20x%3D%2242.037%22%20y%3D%22465.61%22%20width%3D%22267.71%22%20height%3D%228.9007%22%20fill%3D%22%239b5e06%22%2F%3E%3Cg%3E%3Cpath%20d%3D%22m268.25%20435.37c8e-3%200%200.0161%201e-3%200.0244%201e-3%200.74833%202e-3%201.412%200.0812%201.8774%200.20698%200.56993%200.12717%200.93336%200.30868%200.93336%200.51355v1.1989c0%200.10598-0.10325%200.2051-0.27435%200.29485-0.071%202.2984-0.59245%204.3545-0.47937%205.6675%200.12118%201.4071%204.4168%2010.442%204.4168%2014.707%200%204.2656-1.853%207.7656-1.853%207.7656%200%200.62992-2.0588%201.1371-4.6209%201.1403-8e-3%202e-5%20-0.0162%201e-3%20-0.0244%201e-3%20-0.24514%200-0.48224-7e-3%20-0.71466-0.0176-0.1741-7e-3%20-0.34161-0.0161-0.50866-0.0273-1.9722-0.13188-3.422-0.56921-3.422-1.0964%200%200-1.853-3.5-1.853-7.7656s4.2957-13.3%204.4168-14.707c0.11308-1.313-0.40831-3.369-0.47937-5.6675-0.17109-0.0897-0.27434-0.18886-0.27434-0.29485v-1.1989c0-0.21339%200.39566-0.40069%201.0076-0.52819%200.17934-0.0444%200.37809-0.0841%200.60434-0.11423%200.17187-0.0229%200.3538-0.0418%200.54674-0.0547%200.0183-2e-3%200.0352-3e-3%200.0537-4e-3%200.20028-0.0122%200.40681-0.0205%200.62288-0.0205z%22%20fill%3D%22%23cbbd91%22%2F%3E%3Cpath%20d%3D%22m277.54%20422.79%204.1868%201.6209c-3.1273-0.88133-5.4093%200.0569-6.439%200.70543-3.0293%201.1806-3.9356%206.4056-5.887%2013.485l-1.0109-0.2164c2.2732-8.8812%204.4466-14.012%209.1502-15.595z%22%20fill%3D%22%23009e00%22%2F%3E%3Cpath%20d%3D%22m264.79%20405.77c-4.8606-2.5941-5.2982%204.2104-4.945%207.1255%201.1505%209.4959%204.789%208.4738%207.3218%2024.403l1.0109-0.21662c-3.2739-13.674-5.2174-14.434-7.1054-24.163-0.59288-3.0553-1.1794-8.9398%203.7176-7.1487z%22%20fill%3D%22%23066606%22%2F%3E%3Cpath%20d%3D%22m269.39%20406.5h-0.76414s-1.0807%2011.381-1.0807%2017.396c0%206.0156%201.0807%2018.697%201.0807%2018.697h0.76414s-1.0807-12.682-1.0807-18.697c0-6.0156%201.0807-17.396%201.0807-17.396z%22%20fill%3D%22%235cbb5c%22%2F%3E%3Cpath%20d%3D%22m259.77%20440.07c0.27103-10.281%208.2645-15.023%2010.054-0.11545l0.19526-0.68379c-1.5358-12.596-9.9705-14.602-10.25%200.79924z%22%20fill%3D%22%23008000%22%2F%3E%3Cpath%20d%3D%22m294.56%20432.93c-12.023-3.3851-24.603-7.3759-27.913%2013.443l-1.0109-0.21662c4.302-17.969%2012.893-22.808%2028.924-13.227z%22%20fill%3D%22%230e830e%22%2F%3E%3Cg%20transform%3D%22matrix(-.49987%200%200%20.49987%20493.2%20206.97)%22%3E%3Cpath%20d%3D%22m444.97%20457.75c-0.39742%200.18868-0.64063%200.40046-0.64063%200.62891v2.3984c0%200.21202%200.20656%200.41031%200.54883%200.58985%200.14215%204.5981%201.1852%208.7112%200.95899%2011.338-0.24242%202.8149-8.8359%2020.888-8.8359%2029.422%200%208.5334%203.707%2015.535%203.707%2015.535%200%201.2602%204.1187%202.2747%209.2441%202.2812%200.0165%203e-5%200.0324%202e-3%200.0488%202e-3%200.49041%200%200.96473-0.0148%201.4297-0.0352%200.34829-0.0132%200.68339-0.0323%201.0176-0.0547%203.9454-0.26382%206.8457-1.1387%206.8457-2.1934%200%200%203.707-7.0018%203.707-15.535%200-8.5334-8.5935-26.607-8.8359-29.422-0.22621-2.6267%200.81683-6.7398%200.95899-11.338%200.34226-0.17954%200.54882-0.37783%200.54882-0.58985v-2.3984c0-0.22853-0.24009-0.4387-0.63867-0.62696v0.44531c0%200.6846-2.2452%201.2344-5.0332%201.2344s-5.0312-0.54978-5.0312-1.2344v-0.44726z%22%20fill%3D%22%23e8d9ab%22%2F%3E%3Cpath%20d%3D%22m444.99%20458.13v0.15821c0%200.68224%202.2372%201.2305%205.0156%201.2305s5.0156-0.54823%205.0156-1.2305v-0.15821c0%200.68225-2.2372%201.2305-5.0156%201.2305s-5.0156-0.54822-5.0156-1.2305z%22%20fill-opacity%3D%22.38012%22%2F%3E%3Cpath%20d%3D%22m444.08%20477.88v0.18694c0%200.80607%202.6433%201.4538%205.9261%201.4538s5.926-0.64775%205.926-1.4538v-0.18694c0%200.8061-2.6433%201.4538-5.926%201.4538s-5.9261-0.64773-5.9261-1.4538z%22%2F%3E%3Cpath%20d%3D%22m444.88%20461.36c0.14215%204.5981%201.1852%208.7112%200.95899%2011.338-0.0326%200.37873-0.23365%201.0706-0.52735%201.9414h9.3828c-0.2937-0.87076-0.49473-1.5627-0.52735-1.9414-0.22621-2.6267%200.81683-6.7398%200.95899-11.338-0.90321%200.47377-2.8445%200.80273-5.123%200.80273s-4.2198-0.32896-5.123-0.80273z%22%20fill%3D%22url(%23c)%22%2F%3E%3Cpath%20transform%3D%22matrix(-2.0005%200%200%202.0005%20901.44%20215.15)%22%20d%3D%22m229.29%20145.13c-1.5318%203.9261-3.3929%207.2162-3.3929%207.2162%202.4601-0.0307%204.4141-0.51885%204.4141-1.1309%200%200%201.8535-3.5%201.8535-7.7656%200-2.5819-1.5296-6.7782-2.7988-10.105%200%200%201.4559%207.8596-0.0759%2011.786z%22%20fill%3D%22url(%23b)%22%20opacity%3D%22.491%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22m290.36%20428.96c-7.0727-1.008-10.522-8.1682-17.145-2.934%201.6702-2.2224%203.7662-3.4531%206.6706-3.7136%202.2923%200.01%204.3106%203.2715%2010.474%206.6476z%22%20fill%3D%22%23066606%22%2F%3E%3Cg%20transform%3D%22matrix(-.52465%20-.27524%20-.27524%20.52465%20655.1%20343.08)%22%3E%3Cpath%20d%3D%22m532.75%20383.18c-0.0277-2e-3%20-0.0575%205e-3%20-0.0856%204e-3%200.65758%200.0559%201.2082%200.44552%201.3813%201.2774%200.26499%201.2732-0.13881%204.6533-1.1359%207.1894%200%200%200.27777%202.3735%200.63892%201.72%200.84399-1.5273%201.2149-7.9656%200.78222-8.941-0.43273-0.97534-0.86226-1.2-1.581-1.2497z%22%20fill%3D%22%23df110a%22%2F%3E%3Cpath%20d%3D%22m530.61%20383.94c1.1987-1.0533%203.0893-1.1678%203.4389%200.51225%200.34965%201.6801-0.46008%207.038-2.2693%209.2692-1.6076%201.6287-3.5221%202.204-5.7393%201.7404-2.1138-1.3242-1.5443-2.3789-1.9919-3.5358%201.6236-4.1508%205.3628-6.9328%206.5615-7.9861z%22%20fill%3D%22%23f43e27%22%2F%3E%3Cpath%20d%3D%22m529.63%20383.68c1.71%200.53259%203.7566%209.8732%202.234%2012.464-1.4346%201.9548-2.2058%204.2134-4.8309%204.2634-2.7133-0.81369-2.3191-1.9726-3.1028-3.0007%201.5352-4.489%203.2052-13.347%205.6997-13.727z%22%20fill%3D%22%23f8343b%22%2F%3E%3Cpath%20d%3D%22m530.97%20382.57c0.69438%200.28068%200.26965%206.3136-0.2915%208.2758-0.52871%201.4802-0.81295%203.1905-1.7804%203.2284-0.99997-0.61616-2.1522-2.3446-2.4411-3.1231%200.5658-3.3992%203.8186-8.6618%204.513-8.3811z%22%20fill%3D%22%23da3504%22%2F%3E%3Cpath%20d%3D%22m532.63%20382.85c1.2949%200.4033%201.3572%206.4284%200.20424%208.3906-1.0863%201.4802-1.6704%203.1905-3.6582%203.2284-2.0546-0.61616-1.7561-1.4938-2.3496-2.2723%201.1625-3.3992%203.9145-9.0586%205.8035-9.3468z%22%20fill%3D%22%23c22326%22%2F%3E%3Cpath%20d%3D%22m526.87%20384.78c1.1081-1.3003%202.7338%201.9985%203.5313%203.5597s2.4078%206.0836%200.88837%208.6725c-1.4346%201.9548-1.6382%203.3525-4.2633%203.4025-2.7133-0.81369-2.3191-1.9726-3.1028-3.0007-2.7653-5.448%201.8383-11.334%202.9464-12.634z%22%20fill%3D%22%23be1b1b%22%2F%3E%3Cpath%20d%3D%22m531.59%20385.07c1.71%200.53259%201.7923%208.4893%200.26972%2011.081-1.4346%201.9548-2.2058%204.2134-4.8309%204.2634-2.7133-0.81369-2.3191-1.9726-3.1028-3.0007%201.5352-4.489%205.1695-11.963%207.664-12.343z%22%20fill%3D%22%23e11216%22%2F%3E%3Cpath%20d%3D%22m529.46%20388.12c1.1081-1.3003%203.2249-1.8408%204.0223-0.27962s0.7143%206.3561-0.7646%208.6308c-1.4789%202.2748-3.0656%203.8852-5.6906%203.9352-2.7133-0.81369-2.3191-1.9726-3.1028-3.0007%200.85079-4.4212%204.4276-7.9854%205.5357-9.2857z%22%20fill%3D%22%23c90b0b%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Crect%20x%3D%22-32.198%22%20y%3D%22278.12%22%20width%3D%22138.21%22%20height%3D%22138.21%22%20fill%3D%22url(%23f)%22%2F%3E%3Cpath%20d%3D%22m88.873%20278.13v119.46h-121.07v18.757h138.21v-138.21z%22%20fill%3D%22%23672e08%22%2F%3E%3Cpath%20d%3D%22m88.873%20278.13v121.07h-121.07v17.145h138.21v-138.21h-17.143z%22%20fill%3D%22%23a40%22%2F%3E%3Cpath%20d%3D%22m88.873%20278.13v121.07%2017.145h17.143v-138.21h-17.143z%22%20fill%3D%22url(%23d)%22%2F%3E%3Cpath%20d%3D%22m88.873%20399.2h-121.07v17.145h138.21z%22%20fill%3D%22url(%23e)%22%20opacity%3D%22.562%22%2F%3E%3Cpath%20d%3D%22m96.058%20288.38v4.293h9.957v-4.293h-9.957z%22%20fill%3D%22%23694a4a%22%2F%3E%3Cpath%20d%3D%22m96.148%20363.18c1.8829-1.2933%203.5264-2.3923%205.6754-3.9015-0.20872%201.2242-0.21311%202.5038-0.97653%203.578%200.19143%201.0429%200.61932%201.766%200.92916%202.6487-0.0881-1.0146-0.5816-1.5592-0.26184-3.0467%200%200%200.84026-3.1943%201.5144-4.057%200.67415-0.86269%202.048-1.3594%202.048-1.3594%200.77877-1.9151%200.64051-4.6572%200.93917-7.0052v-1.6524c-0.5034%202.4329-0.92364%207.1405-1.7334%207.8121-2.9337%203.3946-5.3475%204.505-8.1343%206.9834z%22%20fill%3D%22%2365321c%22%20fill-opacity%3D%22.75439%22%2F%3E%3Cpath%20d%3D%22m96.798%20351.64-0.5786-0.25994s-1.105%204e-3%20-1.4289-0.73259c-0.32394-0.73652-1.3554-1.5085-1.3554-1.5085-0.02082-0.0208%202.1483-0.41027%202.5968%200.10388%200.44845%200.51416%200.58084%201.8189%200.58084%201.8189z%22%20fill%3D%22%23306123%22%2F%3E%3Cpath%20d%3D%22m88.086%20370.51-0.65643-0.1934s-1.1392%200.0911-1.619-0.33602c-0.4798-0.4271-1.1792-2.3581-1.1792-2.3581s1.9782%200.15544%202.4606%200.58487c0.48241%200.42942%200.7115%201.7115%200.7115%201.7115z%22%20fill%3D%22%23306123%22%2F%3E%3Cpath%20d%3D%22m86.59%20373.82c-0.30927%202.5602%201.5913%204.2479%202.2824%209.0965v-8.918c0.12308-3.6382%204.8293-8.8071%205.3666-10.045%200.16061-0.36987%202.5184-5.5863%203.492-9.7143%202.2838-9.6834-0.7232-23.651-0.7232-23.651s2.1128%2013.379-0.7701%2022.93c-1.5154%205.0204-3.8296%209.6082-4.0946%2010.014-0.76926%201.1788-4.9193%205.0407-5.553%2010.287z%22%20fill%3D%22%23438232%22%2F%3E%3Cpath%20transform%3D%22translate(42.588%20314.52)%22%20d%3D%22m45.705%2062.019c0.1286-0.64188%200.22745-1.472%200.58036-2.1573v-0.38314c-0.32582%200.81152-0.56856%201.6452-0.58036%202.5405z%22%20fill%3D%22%23355e2a%22%2F%3E%3Cpath%20d%3D%22m94.203%20363.05%200.63018-0.0722s0.9394-0.48947%201.5033-0.29838c0.56389%200.19111%201.8588%201.5864%201.8588%201.5864s-1.7446%200.58234-2.3116%200.39018c-0.56696-0.19215-1.2259-1.2036-1.2259-1.2036z%22%20fill%3D%22%23306123%22%2F%3E%3Cpath%20d%3D%22m98.072%20339.59%200.38926-0.50082s0.30741-1.0137%200.83842-1.283c0.53104-0.26924%202.434-0.21841%202.434-0.21841s-0.80432%201.654-1.3383%201.9247c-0.53393%200.27071-1.7177%200.034-1.7177%200.034z%22%20fill%3D%22%233f9029%22%2F%3E%3Cpath%20d%3D%22m97.16%20331.68-0.0079-0.59516s-0.2343-0.819-0.09243-1.3972c0.14193-0.57819%201.0249-2.0768%201.0249-2.0768s0.24479%201.5793%200.10214%202.1607c-0.14268%200.58135-0.76763%201.3978-0.76763%201.3978z%22%20fill%3D%22%233f9029%22%2F%3E%3Cpath%20d%3D%22m97.234%20331.5-0.36017-0.30041s-0.61018-0.2797-0.88342-0.66103c-0.2732-0.38136-0.71716-1.678-0.71716-1.678s1.0705%200.66324%201.3452%201.0467c0.27471%200.38344%200.4428%201.176%200.4428%201.176z%22%20fill%3D%22%233f9029%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
	background-size: cover;
}

.tutup{
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #112233;
	top: 0;
	left: 0;
	z-index: 100;
	transition-duration: 1s;
	text-align: center;	
	font-size: 200%;
	color: #eeeeee;
}
.tutup .d{
	padding: 40px;
	text-align: center;	
	font-size: 100px;
	color: #eeeeee;
}

.topBar{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	background: #678;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
}

.topBar > div{
	min-width: 80px;
	margin: 10px;
	padding: 3px;
	display: inline-table;
	vertical-align: middle;
	text-align: right;
	border: solid 1px #1e2939;

	border-radius: 5px;
}

.logo{
	position: absolute;
	background: #321;
	left: 50px;
	top: 5%;
	height: 90%;
	background: transparent;
	border:transparent !important;
}

.moneyBar{
	position: relative;
	background: #ffce44;
	width: 120px;
}
.moneyBar::before{
	content: '';
	background-image: url('data:image/svg+xml;utf8, %3Csvg%20width%3D%222.3183mm%22%20height%3D%222.3183mm%22%20version%3D%221.1%22%20viewBox%3D%220%200%208.2143%208.2143%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%3E%20%3Cmetadata%3E%20%3Crdf%3ARDF%3E%20%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%20%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%20%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%2F%3E%20%3Cdc%3Atitle%2F%3E%20%3C%2Fcc%3AWork%3E%20%3C%2Frdf%3ARDF%3E%20%3C%2Fmetadata%3E%20%3Cg%20transform%3D%22translate(-157.47%20-290.26)%22%3E%20%3Crect%20x%3D%22157.47%22%20y%3D%22290.26%22%20width%3D%228.2143%22%20height%3D%228.2143%22%20rx%3D%224.1071%22%20ry%3D%224.1071%22%20fill%3D%22%23f9961e%22%2F%3E%20%3Crect%20x%3D%22157.73%22%20y%3D%22290.52%22%20width%3D%227.6974%22%20height%3D%227.6974%22%20rx%3D%223.8487%22%20ry%3D%223.8487%22%20fill%3D%22%23eda600%22%20stroke%3D%22%23662c00%22%20stroke-linecap%3D%22square%22%20stroke-width%3D%22.28112%22%2F%3E%20%3Cg%20transform%3D%22matrix(.60967%200%200%20.60967%2075.493%20111.25)%22%20fill%3D%22%237b3800%22%20stroke%3D%22%23662c00%22%20stroke-width%3D%22.18043%22%3E%20%3Cpath%20d%3D%22m140.21%20297.6v2.6348h1.193q0.66223%200%201.0239-0.34286%200.36164-0.34285%200.36164-0.9769%200-0.62935-0.36164-0.97221t-1.0239-0.34286h-1.193zm-0.94873-0.77964h2.1417q1.1789%200%201.78%200.53542%200.60587%200.53072%200.60587%201.5593%200%201.038-0.60587%201.5687-0.60117%200.53072-1.78%200.53072h-1.193v2.818h-0.94873v-7.0121z%22%20fill%3D%22%237b3800%22%20stroke%3D%22%23662c00%22%20stroke-width%3D%22.18043%22%2F%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fsvg%3E%20');
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover;
	left: -15px;
	top: -2px;

	box-shadow: 0 0 2px #1e2939;
	border-radius: 50%;
}

.paperBar{
	position: relative;
	background-color: #999;
}
.paperBar::before{
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover;
	left: -15px;
	top: -2px;
	background: #123;

	box-shadow: 0 0 2px #1e2939;
	border-radius: 50%;
}

.paperBar.paperB{
	position: relative;
	/*background: #3986c8;*/
}
.paperBar::before{
	background-image: url('data:image/svg+xml;utf8, %3Csvg%20width%3D%222.3183mm%22%20height%3D%222.3183mm%22%20version%3D%221.1%22%20viewBox%3D%220%200%208.2143%208.2143%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%3E%3Cmetadata%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%20rdf%3Aabout%3D%22%22%3E%3Cdc%3Aformat%3Eimage%2Fsvg%2Bxml%3C%2Fdc%3Aformat%3E%3Cdc%3Atype%20rdf%3Aresource%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Fdcmitype%2FStillImage%22%2F%3E%3Cdc%3Atitle%2F%3E%3C%2Fcc%3AWork%3E%3C%2Frdf%3ARDF%3E%3C%2Fmetadata%3E%3Cg%20transform%3D%22translate(-157.47%20-290.26)%22%3E%3Cpath%20transform%3D%22translate(157.47%20290.26)%22%20d%3D%22m4.1074%200.25781c-2.1322%200-3.8496%201.7174-3.8496%203.8496%200%202.1322%201.7174%203.8477%203.8496%203.8477%202.1322%200%203.8477-1.7155%203.8477-3.8477%200-2.1322-1.7155-3.8496-3.8477-3.8496zm-0.64453%202.1465h3.5l-1.1582%202.2344-2.5371%201.3809h-1.6797l1.875-3.6152z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%22.76023%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22square%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%22.1%22%2F%3E%3Cpath%20transform%3D%22translate(157.47%20290.26)%22%20d%3D%22m4.1074%200c-2.2754%200-4.1074%201.8321-4.1074%204.1074s1.8321%204.1074%204.1074%204.1074%204.1074-1.8321%204.1074-4.1074-1.8321-4.1074-4.1074-4.1074zm0%200.25781c2.1322%200%203.8477%201.7174%203.8477%203.8496%200%202.1322-1.7155%203.8477-3.8477%203.8477-2.1322%200-3.8496-1.7155-3.8496-3.8477%200-2.1322%201.7174-3.8496%203.8496-3.8496z%22%20fill%3D%22%231b1b1b%22%20fill-opacity%3D%22.5614%22%2F%3E%3Cpath%20d%3D%22m160.74%20296.28%202.5373-1.381-1.2382-0.18464z%22%20fill%3D%22%23fff%22%20fill-opacity%3D%22.64327%22%20stroke%3D%22%23000%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%22.1%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}


.paperBar.paperB::before{
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover;
	left: -15px;
	top: -2px;
	background-color: #3986c8;

	box-shadow: 0 0 2px #1e2939;
	border-radius: 50%;
}
.paperBar.paperR::before{
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover;
	left: -15px;
	top: -2px;
	background-color: #ba3a4e;

	box-shadow: 0 0 2px #1e2939;
	border-radius: 50%;
}
.paperBar.paperY::before{
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover;
	left: -15px;
	top: -2px;
	background-color: #e3951d;

	box-shadow: 0 0 2px #1e2939;
	border-radius: 50%;
}

.bottomBar{
	position: absolute;
	top: 50px;
	left: 0;
	/*width: 100%;*/
	padding: 10px;
}
.bottomBar div{
	position: relative;
	width: 100%;
	height: 20px;
	opacity: 1;
	/*background-color: #aaa;*/
	padding: 3px;
	border-left: solid 1px #555;
	color: #300;
}

.glass{
	position: absolute;
	right: 150px;
	bottom: 10px;
	width: 600px;
	height: 400px;
	border: solid 10px #3d5272;
	border-radius: 0 0 20px 20px;
	border-top: transparent;
	box-sizing: content-box;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
}

.aqua{
	position: relative;
	width: 100%;
	height: 80%;
	top: 20%;
	border: transparent;
	overflow: visible;
	/*background: #aaddff;*/
	/*background-image: url('img/wall.jpg');*/
	background-size: cover;
	white-space: nowrap;
}

.aqua .amb{
	position: absolute;
	width: 100%;
	height: 125%;
	bottom: 0;

	/*width: 100%;*/
	/*height: 100%;*/
	/*top: 0%;*/

	border: transparent;
	overflow: visible;
	/*background: red;*/
	background-size: cover;
	/*opacity: .5;*/
}

.aqua::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: transparent;
	background: #bbeeff;
	opacity: .3;
}


/****WATER SURFACE*****/
.wave{
	position: relative;
	width: 30%;
	height: 30px;
	top:-10px;
	transform: rotateX(40deg);
	background: inherit;
	display: inline-table;
	margin-left: -5px;
}
.wave div{
	height: 100%;
	width: 25%;
	display: inline-table;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin: 0% 0%;
	background: inherit;
}
.wave div:nth-child(1){
	animation-name: wave1;
}
.wave div:nth-child(2){
	animation-name: wave2;
}
.wave div:nth-child(3){
	animation-name: wave3;
}
.wave div:nth-child(4){
	animation-name: wave4;
}

@keyframes wave1{
	0%{
		transform: skewY(0deg) translate(0%,0%);
	}
	25%{
		transform: skewY(-25deg) translate(0%,0%);
	}
	50%{
		transform: skewY(0deg) translate(0%,-25%);
	}
	75%{
		transform: skewY(25deg) translate(0%,-25%);
	}
	100%{
		transform: skewY(0deg) translate(0%,0%);
	}
}


@keyframes wave2{
	0%{
		transform: skewY(-25deg) translate(0%,0%);
	}
	25%{
		transform: skewY(0deg) translate(0%,-25%);
	}
	50%{
		transform: skewY(25deg) translate(0%,-25%);
	}
	75%{
		transform: skewY(0deg) translate(0%,0%);
	}
	100%{
		transform: skewY(-25deg) translate(0%,0%);
	}
}


@keyframes wave3{
	0%{
		transform: skewY(0deg) translate(0%,-25%);
	}
	25%{
		transform: skewY(25deg) translate(0%,-25%);
	}
	50%{
		transform: skewY(0deg) translate(0%,0%);
	}
	75%{
		transform: skewY(-25deg) translate(0%,0%);
	}
	100%{
		transform: skewY(0deg) translate(0%,-25%);
	}
}

@keyframes wave4{
	0%{
		transform: skewY(25deg) translate(0%,-25%);
	}
	25%{
		transform: skewY(0deg) translate(0%,0%);
	}
	50%{
		transform: skewY(-25deg) translate(0%,0%);
	}
	75%{
		transform: skewY(0deg) translate(0%,-25%);
	}
	100%{
		transform: skewY(25deg) translate(0%,-25%);
	}
}

/*notif*/
.notif{
	position: absolute;
	width: 40px;
	left: 50%;
	margin-left: -20px;
	bottom: 100%;
	height: 30px;
	background: #900;
	color: #fff;
	border-radius: 5px;
	font-weight: bolder;
	display: grid;
	place-items :center;
}
.notif::before{
	content: '';
	position: absolute;
	height: 0px;
	width: 0px;

	top:100%;
	left: 40%;
	border-top: transparent;
	border-right: solid 10px #900;
	border-bottom: solid 10px transparent;
	box-sizing: border-box;
}

/*MODAL*/
.modal{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*background: #1e2939;*/
	z-index: 10;

	/*display: grid;*/
	/*place-items :center;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	resize: both;
}
.modal::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #1e2939;
	opacity: .2;
	/*z-index: 10;*/
}

.modal > .popUp{
	background: #fff;
	width: 400px;
	min-height: 100px;
	z-index: 11;
	padding: 5px;

	max-height: 400px;

	transition-duration: .4s;
	border-radius: 5px;


	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	resize: both;
}
.modal .popUp  .title{
	text-align: center;
	font-size: 120%;
}
.btnClose, .btnClose::before{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	display: block;
	background: #900;
	color: #fff;
	cursor: pointer;
	text-align: center;
	place-items:center;
	border-radius: 5px;
}
.btnClose::before{
	content: 'X';
	right: 0px;
	top: 0px;
}

.aquaMini{
	position: relative;
	width: 160px;
	height: 100px;
	border: transparent;
	overflow: visible;
	background: #aaddff;
	display: inline-table;

	border-radius: 5px;
}

.aquaMini + table{
	position: relative;
	display: inline-table;
	vertical-align: top;
}
.lifeBar{
	position: relative;
	width: 100px;
	height: 15px;
	background-color: #0d0;
	border:solid 1px #000;
	overflow: hidden;

	border-radius: 3px;
}

.lifeBar div{
	position: absolute;
	width: 0%;
	height: 100%;
	right: 0;
	top: 0;
	background-color: #999;

	transition-timing-function: linear;
	box-shadow: 0px 0px 15px #fff;
}

.shopMenu{
	width: 160px;
	height: 300px;
	/*max-height: 200px;*/
	overflow: hidden;
	position: relative;
	background-color: #3a5c79;
	margin: 5px;
	padding: 2px;
	display: inline-table;

	border-radius: 5px;
}
.shopMenu>div{
	margin: 5px;
	color: #fff;
}

.tank{
	/*width: 100%;*/
	height: 90%;
	/*display: grid;*/
	/*grid-template-columns: repeat(10, 1fr);*/
	/*grid-gap: 5px;*/
	/*grid-auto-rows: minmax(100px, auto);*/
}

.tank .left{
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 80%;
	width: 25%;
	/*background-color: green;*/
	/*grid-column: 1 / 4;*/
	padding: 10px;
	border: solid 1px #aaa;

	border-radius: 5px;
}


.tank .right{
	position: absolute;
	bottom: 10px;
	right: 10px;
	height: 80%;
	width: 65%;
	/*background-color: red;*/
	/*grid-column: 4 / 11;*/
	padding: 10px;
	border: solid 1px #aaa;
	
	border-radius: 5px;
}

/**/

.sideMenu{
	position: absolute;
	width: 70px;
	height: 60px;
	right: 10px;
	padding-top: 15px;
	top: 60px;
	background-color: #ddd;
	background-size: 80%;
	background-position: 50% top;
	background-repeat: no-repeat;
	text-align: center;
	overflow: visible;
	cursor: pointer;

	border-radius: 10px;
	transition-duration: .1s;
}
.sideMenu:hover{

	transform: scale(1.1);
}

/**/
.C_1{
	position:absolute;
	height:15px;
	width:100px;
	bottom:100%;
	left:50%;
	margin-left:-50px;
	transform: scale(.5,.3);
}


/**/

.weed {
	position: absolute;
	top:  0px;
	left: 0px;
	width: 160px;
	height: 100px;
	overflow: visible;
	margin: 0px;
	padding: 0px;
	cursor: pointer;

	transition-duration: 1s;
	transition-timing-function: cubic-bezier(.55,.07,.5,.98);
	transform-origin: 50% 50%;
	/*animation: birthIkan .5s;*/

}
.weed .daun{
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 33px;
	width: 200px;
	/*background-image: url(img/f1.svg);*/
	background-image: url(img/weed.svg);
	background-repeat: no-repeat;
	/*background-size: 200px 180px;*/
	overflow: visible;
	margin: 0px;
	padding: 0px;
	/*background-position: 0 -128px;*/

	animation: daun 3s infinite cubic-bezier(.34,.01,.77,1.01);
	/*transition-duration: 3s;*/
	transform-origin: 50% 100%;

	/*border: solid 2px green;*/
}
.weed .daun .daun{
	/*bottom: 32px;*/
	left: 0;

	/*background-position: 0 -96px;*/
	animation-delay: -1.6s;
}
.weed .daun .daun .daun{
	/*background-position: 0 -64px;*/
	animation-delay: -1.2s;
}
.weed .daun .daun .daun .daun{
	/*background-position: 0 -32px;*/
	animation-delay: -.8s;
}
.weed .daun .daun .daun .daun .daun{
	/*background-position: 0 0;*/
	animation-delay: -.4s;
}


@keyframes daun{
	from{
		transform: skewX(30deg);
	}
	50%{
		transform: skewX(-20deg);
	}
	to{
		transform: skewX(30deg);
	}
}

/**/
.tankItems{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
}